/* Загрузчик */

.loader {
    margin-left: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    width: 1920px;
    height: 1076px;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #344051;
    z-index: 1;
}

.logo {
    color: #ffffff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 389px;
    float: left;
    -webkit-animation: coming_logo 2s ease;
    -o-animation: coming_logo 2s ease;
    animation: coming_logo 2s ease;
}

@keyframes coming_logo{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logo: {}

.menu {
    float: left;
    padding-left: 430px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #ffffff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: became_menu 2.5s;
    -o-animation: became_menu 2.5s;
    animation: became_menu 2.5s; 
}

.menu li a {
    transition: all 0.1s;
    color: white;
    display: inline-block;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #f4900b;
}

.menu li a:active {
    transform: scale(1.1)
}

@keyframes became_menu{
    0%{
        opacity: 0;
        margin-top: -80px;
    }
    
    100%{
        opacity: 1; 0px;
    }
}

.main {
    width: 1920px;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/background_main.jpg) center/cover no-repeat;
    -webkit-animation: became_main 4s;
    -o-animation-timing-function: became_main 4s;
    animation-timing-function: became_main 4s;
}

@keyframes became_main {
    0%{
        opacity: 0;
        margin-left: -1920px;
    }
    
    100%{
        opacity: 1; 0px;
        margin-left: 0px;
    }
}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;

}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 58px;
    margin-left: 14px;
    margin-right: 14px;
    transform: scale(1)
}

.title__container input:hover {
    transition: all 0.2s;
    background: #344051;
    color: white;
}

.title__container input:active {
    transform: scale(1.1)
}

.background_about_me {
    background: url(../img/background_about_me.jpg) repeat;
    width: 100%;
    height: 716px;
}

.heading_about_me {
    font-size: 27px;
    padding-top: 108px;
    margin-left: 900px;
    color: #384354;
    text-transform: uppercase;
    font-weight: bolder;
    white-space: nowrap;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;

}

.title_dash {
    width: 72px;
    height: 4px;
    background-color: #d17700;
    margin-top: 31px;
    margin-left: 925px;
    margin-right: 925px;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;
}

@keyframes coming_round{
    0%{
        opacity: 0;
        margin-top: 0px;
    }
    100%{
        opacity: 1;
        margin-top: 60px;
    }
}

@keyframes coming_text1_block_about_me{
    0%{
        margin-left: 0px;
        opacity: 0;
    }
    100%{
        margin-left: 595px;
        opacity: 1;
    }
}

.round {
    border-radius: 200px;
    margin-top: 60px;
    margin-left: 860px;
    -webkit-animation: coming_round 5s;
    -o-animation: coming_round 5s;
    animation: coming_round 5s;
}

.text1_block_about_me {
    padding-top: 24px;
    margin-left: 595px;
    margin-right: 600px;
    width: 732px;
    line-height: 14px;
    color: #3f495a;
    font-weight: 400;
    -webkit-animation: coming_text1_block_about_me 2.5s;
    -o-animation: coming_text1_block_about_me 2.5s;
    animation: coming_text1_block_about_me 2.5s;
}


.text2_block_about_me {
    text-align: left;
    margin-top: 42px;
    margin-left: 595px;
    width: 732px;
    line-height: 14px;
    color: #3f495a;
    font-weight: 400;
    -webkit-animation: coming_text1_block_about_me 3s;
    -o-animation: coming_text1_block_about_me 3s;
    animation: coming_text1_block_about_me 3s;
}

@keyframes coming_about_me_input{
    0%{
        margin-left: 0px;
        opacity: 0;
    }
    100%{
        margin-left: 595px;
        opacity: 1;
    }
}

.background_about_me input {
    margin: 38px 0px 0px 886px;
    width: 157px;
    height: 34px;
    border: 2px solid #6f707e;
    border-radius: 6px;
    color: #6f707e;
    background: #fcfdfd;
    transform: scale(1)
}

@keyframes background_about_me_input{
    0%{
        margin-top: 0px;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

.background_about_me input:hover {
    transition: all 0.2s;
    background: #344051;
    color: #fcfdfd;
}

.background_about_me input:active {
    transform: scale(1.1)
}

.background_menu_skills {
    height: 522px;
    background: url(../img/background_menu_skills.jpg);
    float: left;

}

.heading_my_skills {
    font-size: 27px;
    padding-top: 108px;
    margin-left: 876px;
    color: #384354;
    text-transform: uppercase;
    font-weight: bolder;
    white-space: nowrap;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;
}

.item_skills {
    margin: 98px 0px 20px 495px;
}

.item_skills li {
    width: 220px;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    -webkit-animation: move_item_skills 2.5s ease;
    -o-animation: move_item_skills 2.5s ease;
    animation: move_item_skills 2.5s ease;
    
}

@keyframes move_item_skills{
    0%{
        margin-left: -1000px;
    }
    100%{
    }
}
.item_skills h3 {
    color: #f68542;
    margin-top: 36px;
    font-weight: 600;
}

.item_skills p {
    color: #3f495a;
    margin-top: 20px;
}

.background_case {
    background: url(../img/background_case.jpg);
    width: 1920px;
    padding-bottom: 42px;
}

.heading_case {
    padding-left: 912px;
    padding-top: 630px;
    font-size: 27px;
    color: #384354;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;
}

@keyframes move_text_case{
    0%{
        opacity: 0;
        margin-left: -1000px;
    }
    100%{
        opacity: 1;
        margin-left: 618px;
    }
}

.text_case {
    margin: 38px 0px 42px 618px;
    color: #3f495a;
    -webkit-animation: move_text_case 3s ease;
    -o-animation: move_text_case 3s ease;
    animation: move_text_case 3s ease;
}

.img_case {
    width: 1920px;
    margin-left: 388px;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;
}

.client {
    font-size: 20px;
    margin: 38px 0px 0px 388px;
    color: #384354;
    font-weight: bolder;
    text-transform: uppercase;
    float: left;
    width: 70px;
}

.client p {
    margin: 10px 0px 10px 0px;
    color: #525a69;
    font-size: 12px;
    text-transform: none;
    white-space: pre;

}

.client h3 {
    margin-bottom: 10px;

}

.client a {
    font-size: 12px;
    text-transform: lowercase;
    color: #525a69;
    transform: all scale(1)
}

.client a:hover {
    text-decoration: underline;
}


.client input {
    width: 201px;
    height: 45px;
    margin-top: 13px;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    background: #63b5ae;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    transform: all scale(1);
    -webkit-animation: clien_input_coming 3s;
    -o-animation: clien_input_coming 3s;
    animation: clien_input_coming 3s;

}

@keyframes clien_input_coming{
    0%{
        opacity: 0;
        margin-top: 80px;
    }
    100%{
        opacity: 1;
        margin-top: 13px;
    }
}

.client input:hover {
    transition: all 0.2s;
    background: #ee8648;
    border: 2px solid #ee8648;
    color: #ffffff;
}

.client input:active {
    background: #ee8648;
    border: 2px solid #ee8648;
    color: #ffffff;
    transform: scale(1.1);
}

.block_project_name {
    margin: 38px 0px 0px 674px;
    width: 854px;
    font-size: 16px;
    display: block;
}

.block_project_name h3 {
    font-size: 20px;
    color: #384354;
    font-weight: bolder;
}

.block_project_name p {
    margin-top: 10px;
    color: #3f495a;
}

.heading_cost_calculation {
    margin: 210px 0px 0px 804px;
    font-weight: bolder;
    font-size: 33px;
    color: #1c2534;
    
}

.type_site {
    font-size: 28px;
    margin: 56px 0px 0px 498px;
    text-transform: uppercase;
    color: #1c2534;
    -webkit-animation: coming_logo 2s;
    -o-animation: coming_logo 2s;
    animation: coming_logo 2s;
}

.menu_choose {
    margin: 24px 0px 0px 494px;
    width: 891px;
    height: 57px;
    background: #eeeeee;
    color: #7d7d7d;
    appearance: none;
    -webkit-animation: coming_input_calc_cost 2s;
    -o-animation: coming_input_calc_cost 2s;
    animation: coming_input_calc_cost 2s;
    
}
@keyframes coming_input_calc_cost{
    0%{
        opacity: 0;
        margin-left: -800px;
    }
    100{
        opacity: 100%;
        margin-left: 0px;
    }
}

.design {
    font-size: 28px;
    margin: 46px 0px 0px 498px;
    text-transform: uppercase;
    color: #1c2534;
    -webkit-animation: coming_logo 4s;
    -o-animation: coming_logo 4s;
    animation: coming_logo 4s;
}

.adaptive {
    font-size: 28px;
    margin: 46px 0px 0px 498px;
    text-transform: uppercase;
    color: #1c2534;
    -webkit-animation: coming_logo 4s;
    -o-animation: coming_logo 4s;
    animation: coming_logo 4s;
}

.line_cost_calculation {
    margin: 37px 0px 0px 494px;
    background: #d1d1d1;
    height: 2px;
    width: 891px;
}

.block_cost {
    width: 875px;
    margin: 20px 0px 0px 499px;
    float: left;
    font-size: 16px;
    color: #1c2534;
    font-weight: bold;
}

.block_cost p {
    margin-top: 10px;
}

.result_cost {
    margin-top: 20px;
    font-size: 20px;
    color: #1c2534;
    font-weight: bold;
}

.result_cost p {
    margin-top: 10px;
}

.background_some_stats_parallax {
    margin-top: 150px;
    background: url(../img/background_some_stats.png);
    /* Путь к картинке */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.background_some_stats_parallax_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Прозрачность */
    z-index: 2;
}

.background_some_stats {
    margin-top: 154px;
    background: url(../img/background_some_stats.jpg);
    height: 499px;
}

.background_some_stats_parallax h2 {
    padding: 106px 0px 0px 806px;
    color: #323e4f;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;
}

.digits_stats {
    margin-left: 440px;
}

.digits_stats li {
    display: inline-block;
    width: 270px;
    margin-top: 88px;
    text-align: center;
    -webkit-animation: move_items_li 2.5s ease;
    -o-animation: move_items_li 2.5s ease;
    animation: move_items_li 2.5s ease;
    

}

@keyframes move_items_li{
    0%{
        margin-left: -1000px;
        opacity: 0;
    }
    100%{
        margin-left: 0px;
        opacity: 1;
    }
}

.digits_stats_numbers_smail {
    padding: 32px 0px 0px 00px;
    font-size: 28px;
    color: #323e4f;
    font-weight: bolder;
}

.digits_stats_numbers_char {
    padding: 37px 0px 0px 0px;
    font-size: 28px;
    color: #323e4f;
    font-weight: bolder;
}

.digits_stats_numbers_verify {
    padding: 36px 0px 0px 0px;
    font-size: 28px;
    color: #323e4f;
    font-weight: bolder;
}

.digits_stats_numbers_cup {
    padding: 32px 0px 0px 0px;
    font-size: 28px;
    color: #323e4f;
    font-weight: bolder;
}

.digits_stats_text {
    padding: 32px 0px 100px 0px;
    color: #323e4f;
    font-size: 14px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold
}

.heading_reviews {
    font-size: 27px;
    padding-top: 108px;
    margin-left: 902px;
    color: #384354;
    text-transform: uppercase;
    font-weight: bolder;
    white-space: nowrap;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;
}

@keyframes move_img_reviews{
    0%{
        opacity: 0;
        padding-top: 0px;
    }
    100%{
        opacity: 1;
        padding-top: 56px;
        
    }
}

.img_reviews {
    padding: 56px 0px 0px 911px;
    -webkit-animation: move_img_reviews 4s;
    -o-animation: move_img_reviews 4s;
    animation: move_img_reviews 4s;
}

@keyframes moving_text_review{
    0%{
        margin-left: -1000px;
        opacity: 0;
    }
    100%{
        margin-left: 618px;
        opacity 1: 
    }
}

.text_reviews {
    text-align: center;
    margin: 35px 0px 0px 618px;
    width: 695px;
    -webkit-animation: moving_text_review 3s;
    -o-animation: moving_text_review 3s;
    animation: moving_text_review 3s;
}

.rounds_reviews {
    margin: 48px 0px 0px 917px
}

.rounds_reviews img {
    margin-left: 9px;
}

.background_my_contact {
    margin-top: 92px;
    background: url(../img/background_my_contact.jpg);
    height: 808px;
}

.background_my_contact h2 {
    font-size: 27px;
    padding-top: 108px;
    margin-left: 847px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    white-space: nowrap;
    -webkit-animation: coming_logo 4s ease;
    -o-animation: coming_logo 4s ease;
    animation: coming_logo 4s ease;
}

@keyframes move_text_my_contact{
    0%{
        opacity: 0;
        margin-left: -1000px;
    }
    100%{
        opacity: 1;
        margin-left: 671px;
    }
}

.text_my_contact {
    color: #ffffff;
    margin: 33px 0px 0px 671px;
    -webkit-animation: move_text_my_contact 3s;
    -o-animation: move_text_my_contact 3s;
    animation: move_text_my_contact 3s ;
}

.item_my_contact {
    margin: 48px 0px 0px 552px;
}

.item_my_contact li {
    float: left;
    color: #ffffff;
    text-align: center;
    width: 150px;
    height: 82px;
    margin-left: 100px;
    -webkit-animation: move_items_li 2.5;
    -o-animation: move_items_li 2.5;
    animation: move_items_li 2.5;
    
}

.item_my_contact_telephone {
    padding-top: 50px;
}

.item_my_contact p {
    margin-top: 14px;
}

.heading_form_for_me {
    clear: both;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 38px 0px 0px 840px;
}

.option_message {
    margin-left: 594px;
}

.name_contacts {
    padding-left: 14px;
    margin-top: 45px;
    width: 352px;
    height: 34px;
    background: #dadde3;
    float: left;
}

.email_contacts {
    padding-left: 14px;
    margin: 45px 0px 0px 30px;
    width: 352px;
    background: #dadde3;
    height: 34px;
}

.message_contacts {
    clear: both;
    padding: 12px 0px 0px 14px;
    margin-top: 14px;
    width: 732px;
    background: #dadde3;
    height: 94px;
}

.button_option_message {
    width: 125px;
    height: 46px;
    margin: 26px 0px 0px 300px;
    text-align: center;
    border: 2px solid #f9faff;
    border-radius: 5px;
    background: none;
    color: #ffffff;
    font-weight: bolder;
}

.button_option_message:hover {
    background: #ffffff;
    color: #424d5e;
    border: 2px solid #424d5e;
    border-radius: 5px;
    transform: scale(1);
    transition: 0, 2s;
}

.button_option_message:active {
    transform: scale(1.1);
    background: #ffffff;
    color: #424d5e;
    transition: 0, 2s;
}

footer {
    width: 1920px;
    height: 96px;
    background: #354051;
    text-align: center;
    color: #ffffff;
    padding-top: 42px;
}
